.header {
    background-color: #2a313e;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 8px;
}

.logo {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url('../../../assets/images/logo.png '); /* Remplacez 'boule-de-petanque.png' par le chemin de votre image de boule de pétanque */
    background-size: cover;
    animation: spin 5s linear;
}

.buttons {
    margin-left: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileButton {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(1440deg); /* 4 */
    }
    40% {
        transform: rotate(2520deg); /* 7 */
    }
    60% {
        transform: rotate(3240deg); /* 9 */
    }
    80% {
        transform: rotate(3672deg); /* 10.2 */
    }
    100% {
        transform: rotate(3960deg); /* 11 */
    }
}

