.header {
    background-color: #282c34;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: top, space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.title {
    margin-left: 20px;
    margin-right: 30px;
    font-size: 1.5rem;
    font-weight: 600;
}