.header {
    background-color: #3D3D3D;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 8px;
    height: 5vh;
}

.buttons {
    margin-left: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileButton {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(1440deg); /* 4 */
    }
    40% {
        transform: rotate(2520deg); /* 7 */
    }
    60% {
        transform: rotate(3240deg); /* 9 */
    }
    80% {
        transform: rotate(3672deg); /* 10.2 */
    }
    100% {
        transform: rotate(3960deg); /* 11 */
    }
}

@keyframes throwFromLeft {
    0% {
        transform: translateX(-150%) translateY(70%) scale(0.5);
        opacity: 0;
    }
    60% {
        transform: translateX(0%) translateY(20%) scale(1.5);
        opacity: 1;
    }
    75% {
        transform: translateX(5%) translateY(0%) scale(0.95);
    }
    100% {
        transform: translateX(3%) translateY(10%) scale(1.05);
    }
}

.logo {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url('../../../assets/images/logo.png');
    background-size: cover;
    animation: throwFromLeft 1s 0.8s , spin 5s linear 1.6s; /* Animation de lancer en 2 secondes, puis une animation de roulement en 5 secondes qui commence après une pause de 2 secondes */
}
