.button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    transition: all 0.3s ease;
    margin: 3px;
    position: relative;
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    margin-left: 10px;
    height: 4px;
    background-color: #D2845A;
    transition: width 0.3s;
}

.button, .activeButton {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    transition: all 0.3s ease;
    margin: 3px;
    position: relative;
    overflow: hidden; /* Cache les éléments débordants */
    z-index: 1; /* Assurez-vous que le bouton est au-dessus des autres éléments */
}

.button::before, .activeButton::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #D2845A;
    transition: width 0.3s;
    z-index: 2; /* Assurez-vous que le trait est au-dessus du bouton */
}

.button:hover::before {
    width: 90%;
    margin-left: 10px;
}

.activeButton::before {
    width: 90%;
    margin-left: 10px;
}
