.content {
    content: "";
    position: absolute;
    width: 80%;
    height: 101%;
    background-color: rgba(255, 255, 255, 0.8);
    top: 9%;
    left: 10%;
    z-index: -1;
    /* box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3) , */
}

.buttonContainerStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-top: 20px;
}

.buttonStyle {
    width: 30%;
    height: 100%;
    margin: 0 10px;
    border-radius: 20px;
    border: none;
    background-color: #333333;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.leftCard {
    width: 40%;
    height: 80%;
    position: absolute;
    top: 15%;
    left: 5%;
    background-color: #333333;
    border-radius: 20px;
}

.rightCard {
    width: 40%;
    height: 80%;
    position: absolute;
    top: 15%;
    right: 5%;
    background-color: #333333;
    border-radius: 20px;
}

.leftCardTitle {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftCardContent {
    font-size: 1.5rem;
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightCardTitle {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightCardContent {
    font-size: 1.5rem;
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}